<!doctype html>

<html>
  <head>
    <title>BarCamp</title>
    <link rel="stylesheet" href="../public/global.css">
  </head>

  <body>

    <header>
      <div class="title">
        <img class="barcamp" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/title.png?token=ALYbvbMmsl_mKllNf-TPMTqhsGIK78jVks5Vm-kewA%3D%3D" alt="Barcamp Title Image">
      </div>
    </header>

    <div class="main">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/hero.png?token=ALYbvdoTr8zPBgI8Mi_S4K_Oo-V7vMnJks5Vm-kRwA%3D%3D" alt="Main Image">
    </div>

    <div class="footer">
      <img class="aiga" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/aiga.png?token=ALYbvYVR5QY3oG8-Q9MHrqPC5QhpErODks5Vm-j_wA%3D%3D" alt="AIGA">
    </div>

    <div class="register">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/register-bird.png?token=ALYbvWpE1b3OcXllQRZAdSh9b-YiwjuQks5Vm-kYwA%3D%3D" alt="Register button with bird">
    </div>

    <h1>At BarCamp, you don't have to be an expert to give a talk</h1>

    <p>
      You just have to be passionate. At BarCamp, you won't find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all.
    </p>

    <div class="dash">
      <br>
    </div>

    <h1 class="intro">Talks are organized into one of four speaking categories. some possible talks may include:</h1>

    <p class="category_title">
      Entrepreneur
    </p>

    <img class="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/entrepreneur.png?token=ALYbvYHZHMwVKefclUvjksSPk0xvWjSUks5VnALwwA%3D%3D" alt="Entrepreneur lantern">

    <ul>
      <li>Marketing Your iOS App</li>
      <li>Bird Watching for fun and profit</li>
      <li>Competitive Intelligence on a Shoestring</li>
      <li>How to get Venture Capital</li>
      <li>Fostering a Co-Working Environment</li>
    </ul>

    <hr>
    <p class="category_title">
      Creative
    </p>

    <img class="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/creative.png?token=ALYbvUga-3ZZdtuNoyHzVOAXlpPLm0Wyks5VnALiwA%3D%3D" alt="Creativity Swiss Army knife">

    <ul>
      <li>Creative Problem Solving</li>
      <li>How to Make the Perfect Paper Snowflake</li>
      <li>Design for Mobile Devices</li>
      <li>Plumbing Metaphors can Improve Your Interfaces</li>
      <li>Photography Lighting Basics</li>
    </ul>

    <hr>
    <p class="category_title">
      Technology
    </p>

    <img class="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/technology.png?token=ALYbvapExC6F73Sgg6gFvqkvp13VSC79ks5VnAL8wA%3D%3D" alt="Technology circuit tree">

    <ul>
      <li>CSS3 and the Future of Design</li>
      <li>How to Wrangle WordPress</li>
      <li>HTML5 and the Modern Browser</li>
      <li>iPhone, Me, and My Drone</li>
      <li>Hardware is the New Geocities</li>
    </ul>

    <hr>
    <p class="category_title">
      Kitchen Sink
    </p>

    <img class="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/kitchen-sink.png?token=ALYbvVTnPV_x6P_E3ZdfscjGFndXFB2aks5VnAu2wA%3D%3D" alt="Kitchen sink bucket">

    <ul>
      <li>Squirrel Trapping and More</li>
      <li>How to Chop Wood like a Pro</li>
      <li>Teenage Globetrotting</li>
      <li>Making the Best Cup of Coffee</li>
      <li>Down a Rabbit Hole of Cool Science</li>
    </ul>

    <div class="part3">

      <img class="event_schedule" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part3/event-schedule.png?token=ALYbvaf_I8rGKJSVYULuFJu70wIDZvRlks5VnBDRwA%3D%3D" alt="Event schedule">

      <p class="date">Friday, September 5, 2014</p>
      <p class="location">House of Loom, 1012 S. 10th St. * Omaha, NE 68108</p>

      <p class="time">7</p>
      <p class="pm">PM</p>
      <h2>Open Party Starts</h2>
      <p class="schedule">
      Show up, relax, mingle with other BarCampers and have a drink on our opening party sponsor!</p>

      <p class="time">12</p>
      <p class="pm">AM</p>
      <h2>Keep Gettin' Turn't Up</h2>
      <p class="schedule">
      Continue showing up, relaxing, mingling with other BarCampers and having more drinks on our opening party sponsor!</p>

      <p class="time">2</p>
      <p class="pm">AM</p>
      <h2>Go Home!</h2>
      <p class="schedule">
      Drive safely, take a cab or call in a Lyft. Just show up tomorrow in one piece. :)</p>

      <img class="fire" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part3/fire.png?token=ALYbvXPqrpeeInNHXyxjjE56Znh37oV0ks5VnBDWwA%3D%3D" alt="Campfire">

      <p class="date">Saturday, September 6, 2014</p>
      <p class="location">Kaneko, 1111 Jones St. * Omaha, NE 68102</p>

      <p class="time">8</p>
      <p class="pm">AM</p>
      <h2>Breakfast/Sign Up For Talks</h2>
      <p class="schedule">
      Grab some breakfast and coffee, sign up for a talk, and start the day getting to know your fellow BarCampers.</p>

      <p class="time">9</p>
      <p class="pm">AM</p>
      <h2>Morning Talks Begin</h2>
      <p class="schedule">
      We'll start out the first round of talks promptly at 9am, so make sure you're all settled in and ready to learn!</p>

      <p class="time">12</p>
      <p class="pm">PM</p>
      <h2>Lunch/Networking</h2>
      <p class="schedule">
      Hang out with your new BarCamp friends and enjoy a delicious lunch provided by a local restaurant.</p>

      <p class="time">1</p>
      <p class="pm">PM</p>
      <h2>Afternoon Talks Begin</h2>
      <p class="schedule">
      At 1pm, we'll reconvene for our afternoon session of talks!</p>

      <p class="time">5</p>
      <p class="pm">PM</p>
      <h2>Closing</h2>
      <p class="schedule">
      Say your goodbyes, collect addresses for your new pen pals, and start looking forward to next year.</p>
      <br>
      <br>

    </div>

  </body>
</html>
