<!doctype html>

<html>
  <head>
    <title>BarCamp</title>
    <link rel="stylesheet" href="../public/global.css">
  </head>

  <body>

    <header>
      <div id="title">
        <img id="barcamp" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/title.png?token=ALYbvbMmsl_mKllNf-TPMTqhsGIK78jVks5Vm-kewA%3D%3D">
      </div>
    </header>

    <div id="main">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/hero.png?token=ALYbvdoTr8zPBgI8Mi_S4K_Oo-V7vMnJks5Vm-kRwA%3D%3D">
    </div>

    <div id="footer">
      <img id="aiga" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/aiga.png?token=ALYbvYVR5QY3oG8-Q9MHrqPC5QhpErODks5Vm-j_wA%3D%3D">
    </div>

    <div id="register">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/register-bird.png?token=ALYbvWpE1b3OcXllQRZAdSh9b-YiwjuQks5Vm-kYwA%3D%3D">
    </div>

    <p>
      <h1>At BarCamp, you don't have to be an expert to give a talk</h1>
    </p>

    <p>
      You just have to be passionate. At BarCamp, you won't find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all.
    </p>

    <div id="dash">
      <br>
    </div>

    <p>
      <h1 id="intro">Talks are organized into one of four speaking categories. some possible talks may include:</h1>
    </p>

    <p id="category_title">
      Entrepreneur
    </p>

    <img id="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/entrepreneur.png?token=ALYbvYHZHMwVKefclUvjksSPk0xvWjSUks5VnALwwA%3D%3D">

    <ul>
      <li>Marketing Your iOS App</li>
      <li>Bird Watching for fun and profit</li>
      <li>Competitive Intelligence on a Shoestring</li>
      <li>How to get Venture Capital</li>
      <li>Fostering a Co-Working Environment</li>
    </ul>

    <hr>
    <p id="category_title">
      Creative
    </p>

    <img id="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/creative.png?token=ALYbvUga-3ZZdtuNoyHzVOAXlpPLm0Wyks5VnALiwA%3D%3D">

    <ul>
      <li>Creative Problem Solving</li>
      <li>How to Make the Perfect Paper Snowflake</li>
      <li>Design for Mobile Devices</li>
      <li>Plumbing Metaphors can Improve Your Interfaces</li>
      <li>Photography Lighting Basics</li>
    </ul>

    <hr>
    <p id="category_title">
      Technology
    </p>

    <img id="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/technology.png?token=ALYbvapExC6F73Sgg6gFvqkvp13VSC79ks5VnAL8wA%3D%3D">

    <ul>
      <li>CSS3 and the Future of Design</li>
      <li>How to Wrangle WordPress</li>
      <li>HTML5 and the Modern Browser</li>
      <li>iPhone, Me, and My Drone</li>
      <li>Hardware is the New Geocities</li>
    </ul>

    <hr>
    <p id="category_title">
      Kitchen Sink
    </p>

    <img id="category" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part2/kitchen-sink.png?token=ALYbvVTnPV_x6P_E3ZdfscjGFndXFB2aks5VnAu2wA%3D%3D">

    <ul>
      <li>Squirrel Trapping and More</li>
      <li>How to Chop Wood like a Pro</li>
      <li>Teenage Globetrotting</li>
      <li>Making the Best Cup of Coffee</li>
      <li>Down a Rabbit Hole of Cool Science</li>
    </ul>

  </body>
</html>
