<!doctype html>

<html>
  <head>
    <title>BarCamp</title>
    <link rel="stylesheet" href="../public/global.css">
  </head>

  <body>

    <header>
      <div id="title">
        <img id="barcamp" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/title.png?token=ALYbvbMmsl_mKllNf-TPMTqhsGIK78jVks5Vm-kewA%3D%3D">
      </div>
    </header>

    <div id="main">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/hero.png?token=ALYbvdoTr8zPBgI8Mi_S4K_Oo-V7vMnJks5Vm-kRwA%3D%3D">
    </div>

    <div id="footer">
      <img id="aiga" src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/aiga.png?token=ALYbvYVR5QY3oG8-Q9MHrqPC5QhpErODks5Vm-j_wA%3D%3D">
    </div>

    <div id="register">
      <img src="https://raw.githubusercontent.com/omahacodeschool/class-drakon/master/06-30-css-barcamp/assets/part1/register-bird.png?token=ALYbvWpE1b3OcXllQRZAdSh9b-YiwjuQks5Vm-kYwA%3D%3D">
    </div>

    <p>
      <h1>At BarCamp, you don't have to be an expert to give a talk</h1>
    </p>

    <p>
      You just have to be passionate. At BarCamp, you won't find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all.
    </p>


  </body>
</html>
