html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2C4947;
  width: 370px;
  height: 60px;
}

div {
  margin: 0;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  color: #394B63;
  margin: 30px;
  margin-top: 2.5em;
  line-height: 150%;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: #394B63;
  margin: 30px;
}

#title {
  background-color: #2C4947
}

#barcamp {
  position: relative;
  top: 10px;
}

#main {
  width: 370px;
  height: 484px;
}

#aiga {
  position: relative;
  left: 40px;
}

#footer {
  background-color: #536563;
  width: 370px;
}

#register {
  margin-top: 5em;
}
